**Kaggle Competition: https://www.kaggle.com/competitions/asl-fingerspelling**

# Exploring Datasets
So in this section we only look at the dataset to see how to work with this dataset

In [2]:
import pandas as pd
import pyarrow.parquet as pq
import os

In [40]:
#Looking at information within train.csv and supplemental_metadata.csv
df_train = pd.read_csv('./dataset complete/train.csv')
df_supp_mat = pd.read_csv('./dataset complete/supplemental_metadata.csv')

In [41]:
df_train.head()

,path,file_id,sequence_id,participant_id,phrase
0,train_landmarks/5414471.parquet,5414471,1816796431,217,3 creekhouse
1,train_landmarks/5414471.parquet,5414471,1816825349,107,scales/kuhaylah
2,train_landmarks/5414471.parquet,5414471,1816909464,1,1383 william lanier
3,train_landmarks/5414471.parquet,5414471,1816967051,63,988 franklin lane
4,train_landmarks/5414471.parquet,5414471,1817123330,89,6920 northeast 661st road

In [5]:
len(df_train)

67208

In [6]:
df_supp_mat.head()

,path,file_id,sequence_id,participant_id,phrase
0,supplemental_landmarks/33432165.parquet,33432165,1535467051,251,coming up with killer sound bites
1,supplemental_landmarks/33432165.parquet,33432165,1535499058,239,we better investigate this
2,supplemental_landmarks/33432165.parquet,33432165,1535530550,245,interesting observation was made
3,supplemental_landmarks/33432165.parquet,33432165,1535545499,38,victims deserve more redress
4,supplemental_landmarks/33432165.parquet,33432165,1535585216,254,knee bone is connected to the thigh bone

In [7]:
len(df_supp_mat)

52958

From [here](https://www.kaggle.com/competitions/asl-fingerspelling/discussion/416507https://www.kaggle.com/competitions/asl-fingerspelling/discussion/416507) supplementary material is unnecessary. For now, do not use.
The supplemenatary dataset just provides more mediapipe participant data, we later use this as well, to train our model on more data.

In [9]:
# read in first parquet file
first_table = pq.read_table('./dataset complete/train_landmarks/105143404.parquet')
first_table = first_table.to_pandas()
first_table.head()

,frame,x_face_0,x_face_1,x_face_2,x_face_3,x_face_4,x_face_5,x_face_6,x_face_7,x_face_8,...,z_right_hand_11,z_right_hand_12,z_right_hand_13,z_right_hand_14,z_right_hand_15,z_right_hand_16,z_right_hand_17,z_right_hand_18,z_right_hand_19,z_right_hand_20
sequence_id,,,,,,,,,,,,,,,,,,,,,
1784552841,0,0.492320,0.482797,0.485312,0.471907,0.481505,0.480572,0.478806,0.412168,0.475747,...,-0.096554,-0.104598,-0.074198,-0.107076,-0.111353,-0.108775,-0.090110,-0.112195,-0.111315,-0.107600
1784552841,1,0.492477,0.481592,0.483950,0.470245,0.480239,0.479128,0.476890,0.411729,0.473802,...,-0.052660,-0.054204,-0.052768,-0.063956,-0.054388,-0.046519,-0.065723,-0.066215,-0.052121,-0.041132
1784552841,2,0.487783,0.477862,0.480728,0.466654,0.476475,0.475539,0.474092,0.411478,0.471471,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1784552841,3,0.486822,0.476097,0.479721,0.463738,0.474360,0.473089,0.470957,0.402131,0.467684,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1784552841,4,0.489659,0.476537,0.479497,0.465263,0.475073,0.474147,0.472896,0.403360,0.470319,...,-0.082660,-0.086587,-0.062344,-0.071868,-0.059002,-0.048205,-0.066833,-0.069023,-0.053550,-0.040014

In [11]:
#We see for each sequence_id, the frames start again from 0
# man kann auch schlussfolgern in dieser datei sind 1000 sätze als vektoren dargestellt
zeros_table = first_table[first_table['frame'] == 0]
zeros_table.head()

,frame,x_face_0,x_face_1,x_face_2,x_face_3,x_face_4,x_face_5,x_face_6,x_face_7,x_face_8,...,z_right_hand_11,z_right_hand_12,z_right_hand_13,z_right_hand_14,z_right_hand_15,z_right_hand_16,z_right_hand_17,z_right_hand_18,z_right_hand_19,z_right_hand_20
sequence_id,,,,,,,,,,,,,,,,,,,,,
1784552841,0,0.492320,0.482797,0.485312,0.471907,0.481505,0.480572,0.478806,0.412168,0.475747,...,-0.096554,-0.104598,-0.074198,-0.107076,-0.111353,-0.108775,-0.090110,-0.112195,-0.111315,-0.107600
1784574169,0,0.698397,0.683774,0.687848,0.675965,0.683542,0.685465,0.692185,0.598294,0.694783,...,-0.111455,-0.092284,-0.036663,-0.122383,-0.098495,-0.056617,-0.046860,-0.108341,-0.087767,-0.055530
1784587545,0,0.701100,0.682155,0.692575,0.666273,0.679019,0.678771,0.681486,0.578814,0.678547,...,-0.322086,-0.318537,-0.174527,-0.296989,-0.296057,-0.264339,-0.201885,-0.278207,-0.270339,-0.244797
1784630915,0,0.686331,0.678202,0.680311,0.664660,0.677929,0.678800,0.681770,0.558383,0.682564,...,-0.094074,-0.105338,-0.033270,-0.095350,-0.118617,-0.123176,-0.052225,-0.110783,-0.123956,-0.124494
1784672555,0,0.601207,0.593682,0.597443,0.585854,0.593676,0.595685,0.602065,0.505835,0.604639,...,-0.035732,-0.038045,0.000412,-0.042179,-0.044162,-0.030247,-0.016860,-0.049033,-0.045541,-0.031788

In [12]:
#We see that the sequence_ids  are not in consecutive order the next sequence id after 1784552841 ist 1784574169
first_table[first_table.index == 1784552842]

Empty DataFrame
Columns: [frame, x_face_0, x_face_1, x_face_2, x_face_3, x_face_4, x_face_5, x_face_6, x_face_7, x_face_8, x_face_9, x_face_10, x_face_11, x_face_12, x_face_13, x_face_14, x_face_15, x_face_16, x_face_17, x_face_18, x_face_19, x_face_20, x_face_21, x_face_22, x_face_23, x_face_24, x_face_25, x_face_26, x_face_27, x_face_28, x_face_29, x_face_30, x_face_31, x_face_32, x_face_33, x_face_34, x_face_35, x_face_36, x_face_37, x_face_38, x_face_39, x_face_40, x_face_41, x_face_42, x_face_43, x_face_44, x_face_45, x_face_46, x_face_47, x_face_48, x_face_49, x_face_50, x_face_51, x_face_52, x_face_53, x_face_54, x_face_55, x_face_56, x_face_57, x_face_58, x_face_59, x_face_60, x_face_61, x_face_62, x_face_63, x_face_64, x_face_65, x_face_66, x_face_67, x_face_68, x_face_69, x_face_70, x_face_71, x_face_72, x_face_73, x_face_74, x_face_75, x_face_76, x_face_77, x_face_78, x_face_79, x_face_80, x_face_81, x_face_82, x_face_83, x_face_84, x_face_85, x_face_86, x_face_87, x_face_88, x_face_89, x_face_90, x_face_91, x_face_92, x_face_93, x_face_94, x_face_95, x_face_96, x_face_97, x_face_98, ...]
Index: []

[0 rows x 1630 columns]

Sequences are not sequentially numbered.

One sequence corresponds to one sentence.

Frame numberings restart at 0 for each sequence.

One sequence might contain n frames.

In [13]:
#We print all existinmg columns
for column in first_table.columns.tolist():
    print(column)

frame
x_face_0
x_face_1
x_face_2
x_face_3
x_face_4
x_face_5
x_face_6
x_face_7
x_face_8
x_face_9
x_face_10
x_face_11
x_face_12
x_face_13
x_face_14
x_face_15
x_face_16
x_face_17
x_face_18
x_face_19
x_face_20
x_face_21
x_face_22
x_face_23
x_face_24
x_face_25
x_face_26
x_face_27
x_face_28
x_face_29
x_face_30
x_face_31
x_face_32
x_face_33
x_face_34
x_face_35
x_face_36
x_face_37
x_face_38
x_face_39
x_face_40
x_face_41
x_face_42
x_face_43
x_face_44
x_face_45
x_face_46
x_face_47
x_face_48
x_face_49
x_face_50
x_face_51
x_face_52
x_face_53
x_face_54
x_face_55
x_face_56
x_face_57
x_face_58
x_face_59
x_face_60
x_face_61
x_face_62
x_face_63
x_face_64
x_face_65
x_face_66
x_face_67
x_face_68
x_face_69
x_face_70
x_face_71
x_face_72
x_face_73
x_face_74
x_face_75
x_face_76
x_face_77
x_face_78
x_face_79
x_face_80
x_face_81
x_face_82
x_face_83
x_face_84
x_face_85
x_face_86
x_face_87
x_face_88
x_face_89
x_face_90
x_face_91
x_face_92
x_face_93
x_face_94
x_face_95
x_face_96
x_face_97
x_face_98
x_face_99
x_face_100
x_face_101
x_face_102
x_face_103
x_face_104
x_face_105
x_face_106
x_face_107
x_face_108
x_face_109
x_face_110
x_face_111
x_face_112
x_face_113
x_face_114
x_face_115
x_face_116
x_face_117
x_face_118
x_face_119
x_face_120
x_face_121
x_face_122
x_face_123
x_face_124
x_face_125
x_face_126
x_face_127
x_face_128
x_face_129
x_face_130
x_face_131
x_face_132
x_face_133
x_face_134
x_face_135
x_face_136
x_face_137
x_face_138
x_face_139
x_face_140
x_face_141
x_face_142
x_face_143
x_face_144
x_face_145
x_face_146
x_face_147
x_face_148
x_face_149
x_face_150
x_face_151
x_face_152
x_face_153
x_face_154
x_face_155
x_face_156
x_face_157
x_face_158
x_face_159
x_face_160
x_face_161
x_face_162
x_face_163
x_face_164
x_face_165
x_face_166
x_face_167
x_face_168
x_face_169
x_face_170
x_face_171
x_face_172
x_face_173
x_face_174
x_face_175
x_face_176
x_face_177
x_face_178
x_face_179
x_face_180
x_face_181
x_face_182
x_face_183
x_face_184
x_face_185
x_face_186
x_face_187
x_face_188
x_face_189
x_face_190
x_face_191
x_face_192
x_face_193
x_face_194
x_face_195
x_face_196
x_face_197
x_face_198
x_face_199
x_face_200
x_face_201
x_face_202
x_face_203
x_face_204
x_face_205
x_face_206
x_face_207
x_face_208
x_face_209
x_face_210
x_face_211
x_face_212
x_face_213
x_face_214
x_face_215
x_face_216
x_face_217
x_face_218
x_face_219
x_face_220
x_face_221
x_face_222
x_face_223
x_face_224
x_face_225
x_face_226
x_face_227
x_face_228
x_face_229
x_face_230
x_face_231
x_face_232
x_face_233
x_face_234
x_face_235
x_face_236
x_face_237
x_face_238
x_face_239
x_face_240
x_face_241
x_face_242
x_face_243
x_face_244
x_face_245
x_face_246
x_face_247
x_face_248
x_face_249
x_face_250
x_face_251
x_face_252
x_face_253
x_face_254
x_face_255
x_face_256
x_face_257
x_face_258
x_face_259
x_face_260
x_face_261
x_face_262
x_face_263
x_face_264
x_face_265
x_face_266
x_face_267
x_face_268
x_face_269
x_face_270
x_face_271
x_face_272
x_face_273
x_face_274
x_face_275
x_face_276
x_face_277
x_face_278
x_face_279
x_face_280
x_face_281
x_face_282
x_face_283
x_face_284
x_face_285
x_face_286
x_face_287
x_face_288
x_face_289
x_face_290
x_face_291
x_face_292
x_face_293
x_face_294
x_face_295
x_face_296
x_face_297
x_face_298
x_face_299
x_face_300
x_face_301
x_face_302
x_face_303
x_face_304
x_face_305
x_face_306
x_face_307
x_face_308
x_face_309
x_face_310
x_face_311
x_face_312
x_face_313
x_face_314
x_face_315
x_face_316
x_face_317
x_face_318
x_face_319
x_face_320
x_face_321
x_face_322
x_face_323
x_face_324
x_face_325
x_face_326
x_face_327
x_face_328
x_face_329
x_face_330
x_face_331
x_face_332
x_face_333
x_face_334
x_face_335
x_face_336
x_face_337
x_face_338
x_face_339
x_face_340
x_face_341
x_face_342
x_face_343
x_face_344
x_face_345
x_face_346
x_face_347
x_face_348
x_face_349
x_face_350
x_face_351
x_face_352
x_face_353
x_face_354
x_face_355
x_face_356
x_face_357
x_face_358
x_face_359
x_face_360
x_face_361
x_face_362
x_face_363
x_face_364
x_face_365
x_face_366
x_face_367
x_face_368
x_face_369
x_face_370
x_face_371
x_face_372
x_face_373
x_face_374
x_face_375
x_face_376
x_face_377
x_face_378
x_face_379
x_face_380
x_face_381
x_face_382
x_face_383
x_face_384
x_face_385
x_face_386
x_face_387
x_face_388
x_face_389
x_face_390
x_face_391
x_face_392
x_face_393
x_face_394
x_face_395
x_face_396
x_face_397
x_face_398
x_face_399
x_face_400
x_face_401
x_face_402
x_face_403
x_face_404
x_face_405
x_face_406
x_face_407
x_face_408
x_face_409
x_face_410
x_face_411
x_face_412
x_face_413
x_face_414
x_face_415
x_face_416
x_face_417
x_face_418
x_face_419
x_face_420
x_face_421
x_face_422
x_face_423
x_face_424
x_face_425
x_face_426
x_face_427
x_face_428
x_face_429
x_face_430
x_face_431
x_face_432
x_face_433
x_face_434
x_face_435
x_face_436
x_face_437
x_face_438
x_face_439
x_face_440
x_face_441
x_face_442
x_face_443
x_face_444
x_face_445
x_face_446
x_face_447
x_face_448
x_face_449
x_face_450
x_face_451
x_face_452
x_face_453
x_face_454
x_face_455
x_face_456
x_face_457
x_face_458
x_face_459
x_face_460
x_face_461
x_face_462
x_face_463
x_face_464
x_face_465
x_face_466
x_face_467
x_left_hand_0
x_left_hand_1
x_left_hand_2
x_left_hand_3
x_left_hand_4
x_left_hand_5
x_left_hand_6
x_left_hand_7
x_left_hand_8
x_left_hand_9
x_left_hand_10
x_left_hand_11
x_left_hand_12
x_left_hand_13
x_left_hand_14
x_left_hand_15
x_left_hand_16
x_left_hand_17
x_left_hand_18
x_left_hand_19
x_left_hand_20
x_pose_0
x_pose_1
x_pose_2
x_pose_3
x_pose_4
x_pose_5
x_pose_6
x_pose_7
x_pose_8
x_pose_9
x_pose_10
x_pose_11
x_pose_12
x_pose_13
x_pose_14
x_pose_15
x_pose_16
x_pose_17
x_pose_18
x_pose_19
x_pose_20
x_pose_21
x_pose_22
x_pose_23
x_pose_24
x_pose_25
x_pose_26
x_pose_27
x_pose_28
x_pose_29
x_pose_30
x_pose_31
x_pose_32
x_right_hand_0
x_right_hand_1
x_right_hand_2
x_right_hand_3
x_right_hand_4
x_right_hand_5
x_right_hand_6
x_right_hand_7
x_right_hand_8
x_right_hand_9
x_right_hand_10
x_right_hand_11
x_right_hand_12
x_right_hand_13
x_right_hand_14
x_right_hand_15
x_right_hand_16
x_right_hand_17
x_right_hand_18
x_right_hand_19
x_right_hand_20
y_face_0
y_face_1
y_face_2
y_face_3
y_face_4
y_face_5
y_face_6
y_face_7
y_face_8
y_face_9
y_face_10
y_face_11
y_face_12
y_face_13
y_face_14
y_face_15
y_face_16
y_face_17
y_face_18
y_face_19
y_face_20
y_face_21
y_face_22
y_face_23
y_face_24
y_face_25
y_face_26
y_face_27
y_face_28
y_face_29
y_face_30
y_face_31
y_face_32
y_face_33
y_face_34
y_face_35
y_face_36
y_face_37
y_face_38
y_face_39
y_face_40
y_face_41
y_face_42
y_face_43
y_face_44
y_face_45
y_face_46
y_face_47
y_face_48
y_face_49
y_face_50
y_face_51
y_face_52
y_face_53
y_face_54
y_face_55
y_face_56
y_face_57
y_face_58
y_face_59
y_face_60
y_face_61
y_face_62
y_face_63
y_face_64
y_face_65
y_face_66
y_face_67
y_face_68
y_face_69
y_face_70
y_face_71
y_face_72
y_face_73
y_face_74
y_face_75
y_face_76
y_face_77
y_face_78
y_face_79
y_face_80
y_face_81
y_face_82
y_face_83
y_face_84
y_face_85
y_face_86
y_face_87
y_face_88
y_face_89
y_face_90
y_face_91
y_face_92
y_face_93
y_face_94
y_face_95
y_face_96
y_face_97
y_face_98
y_face_99
y_face_100
y_face_101
y_face_102
y_face_103
y_face_104
y_face_105
y_face_106
y_face_107
y_face_108
y_face_109
y_face_110
y_face_111
y_face_112
y_face_113
y_face_114
y_face_115
y_face_116
y_face_117
y_face_118
y_face_119
y_face_120
y_face_121
y_face_122
y_face_123
y_face_124
y_face_125
y_face_126
y_face_127
y_face_128
y_face_129
y_face_130
y_face_131
y_face_132
y_face_133
y_face_134
y_face_135
y_face_136
y_face_137
y_face_138
y_face_139
y_face_140
y_face_141
y_face_142
y_face_143
y_face_144
y_face_145
y_face_146
y_face_147
y_face_148
y_face_149
y_face_150
y_face_151
y_face_152
y_face_153
y_face_154
y_face_155
y_face_156
y_face_157
y_face_158
y_face_159
y_face_160
y_face_161
y_face_162
y_face_163
y_face_164
y_face_165
y_face_166
y_face_167
y_face_168
y_face_169
y_face_170
y_face_171
y_face_172
y_face_173
y_face_174
y_face_175
y_face_176
y_face_177
y_face_178
y_face_179
y_face_180
y_face_181
y_face_182
y_face_183
y_face_184
y_face_185
y_face_186
y_face_187
y_face_188
y_face_189
y_face_190
y_face_191
y_face_192
y_face_193
y_face_194
y_face_195
y_face_196
y_face_197
y_face_198
y_face_199
y_face_200
y_face_201
y_face_202
y_face_203
y_face_204
y_face_205
y_face_206
y_face_207
y_face_208
y_face_209
y_face_210
y_face_211
y_face_212
y_face_213
y_face_214
y_face_215
y_face_216
y_face_217
y_face_218
y_face_219
y_face_220
y_face_221
y_face_222
y_face_223
y_face_224
y_face_225
y_face_226
y_face_227
y_face_228
y_face_229
y_face_230
y_face_231
y_face_232
y_face_233
y_face_234
y_face_235
y_face_236
y_face_237
y_face_238
y_face_239
y_face_240
y_face_241
y_face_242
y_face_243
y_face_244
y_face_245
y_face_246
y_face_247
y_face_248
y_face_249
y_face_250
y_face_251
y_face_252
y_face_253
y_face_254
y_face_255
y_face_256
y_face_257
y_face_258
y_face_259
y_face_260
y_face_261
y_face_262
y_face_263
y_face_264
y_face_265
y_face_266
y_face_267
y_face_268
y_face_269
y_face_270
y_face_271
y_face_272
y_face_273
y_face_274
y_face_275
y_face_276
y_face_277
y_face_278
y_face_279
y_face_280
y_face_281
y_face_282
y_face_283
y_face_284
y_face_285
y_face_286
y_face_287
y_face_288
y_face_289
y_face_290
y_face_291
y_face_292
y_face_293
y_face_294
y_face_295
y_face_296
y_face_297
y_face_298
y_face_299
y_face_300
y_face_301
y_face_302
y_face_303
y_face_304
y_face_305
y_face_306
y_face_307
y_face_308
y_face_309
y_face_310
y_face_311
y_face_312
y_face_313
y_face_314
y_face_315
y_face_316
y_face_317
y_face_318
y_face_319
y_face_320
y_face_321
y_face_322
y_face_323
y_face_324
y_face_325
y_face_326
y_face_327
y_face_328
y_face_329
y_face_330
y_face_331
y_face_332
y_face_333
y_face_334
y_face_335
y_face_336
y_face_337
y_face_338
y_face_339
y_face_340
y_face_341
y_face_342
y_face_343
y_face_344
y_face_345
y_face_346
y_face_347
y_face_348
y_face_349
y_face_350
y_face_351
y_face_352
y_face_353
y_face_354
y_face_355
y_face_356
y_face_357
y_face_358
y_face_359
y_face_360
y_face_361
y_face_362
y_face_363
y_face_364
y_face_365
y_face_366
y_face_367
y_face_368
y_face_369
y_face_370
y_face_371
y_face_372
y_face_373
y_face_374
y_face_375
y_face_376
y_face_377
y_face_378
y_face_379
y_face_380
y_face_381
y_face_382
y_face_383
y_face_384
y_face_385
y_face_386
y_face_387
y_face_388
y_face_389
y_face_390
y_face_391
y_face_392
y_face_393
y_face_394
y_face_395
y_face_396
y_face_397
y_face_398
y_face_399
y_face_400
y_face_401
y_face_402
y_face_403
y_face_404
y_face_405
y_face_406
y_face_407
y_face_408
y_face_409
y_face_410
y_face_411
y_face_412
y_face_413
y_face_414
y_face_415
y_face_416
y_face_417
y_face_418
y_face_419
y_face_420
y_face_421
y_face_422
y_face_423
y_face_424
y_face_425
y_face_426
y_face_427
y_face_428
y_face_429
y_face_430
y_face_431
y_face_432
y_face_433
y_face_434
y_face_435
y_face_436
y_face_437
y_face_438
y_face_439
y_face_440
y_face_441
y_face_442
y_face_443
y_face_444
y_face_445
y_face_446
y_face_447
y_face_448
y_face_449
y_face_450
y_face_451
y_face_452
y_face_453
y_face_454
y_face_455
y_face_456
y_face_457
y_face_458
y_face_459
y_face_460
y_face_461
y_face_462
y_face_463
y_face_464
y_face_465
y_face_466
y_face_467
y_left_hand_0
y_left_hand_1
y_left_hand_2
y_left_hand_3
y_left_hand_4
y_left_hand_5
y_left_hand_6
y_left_hand_7
y_left_hand_8
y_left_hand_9
y_left_hand_10
y_left_hand_11
y_left_hand_12
y_left_hand_13
y_left_hand_14
y_left_hand_15
y_left_hand_16
y_left_hand_17
y_left_hand_18
y_left_hand_19
y_left_hand_20
y_pose_0
y_pose_1
y_pose_2
y_pose_3
y_pose_4
y_pose_5
y_pose_6
y_pose_7
y_pose_8
y_pose_9
y_pose_10
y_pose_11
y_pose_12
y_pose_13
y_pose_14
y_pose_15
y_pose_16
y_pose_17
y_pose_18
y_pose_19
y_pose_20
y_pose_21
y_pose_22
y_pose_23
y_pose_24
y_pose_25
y_pose_26
y_pose_27
y_pose_28
y_pose_29
y_pose_30
y_pose_31
y_pose_32
y_right_hand_0
y_right_hand_1
y_right_hand_2
y_right_hand_3
y_right_hand_4
y_right_hand_5
y_right_hand_6
y_right_hand_7
y_right_hand_8
y_right_hand_9
y_right_hand_10
y_right_hand_11
y_right_hand_12
y_right_hand_13
y_right_hand_14
y_right_hand_15
y_right_hand_16
y_right_hand_17
y_right_hand_18
y_right_hand_19
y_right_hand_20
z_face_0
z_face_1
z_face_2
z_face_3
z_face_4
z_face_5
z_face_6
z_face_7
z_face_8
z_face_9
z_face_10
z_face_11
z_face_12
z_face_13
z_face_14
z_face_15
z_face_16
z_face_17
z_face_18
z_face_19
z_face_20
z_face_21
z_face_22
z_face_23
z_face_24
z_face_25
z_face_26
z_face_27
z_face_28
z_face_29
z_face_30
z_face_31
z_face_32
z_face_33
z_face_34
z_face_35
z_face_36
z_face_37
z_face_38
z_face_39
z_face_40
z_face_41
z_face_42
z_face_43
z_face_44
z_face_45
z_face_46
z_face_47
z_face_48
z_face_49
z_face_50
z_face_51
z_face_52
z_face_53
z_face_54
z_face_55
z_face_56
z_face_57
z_face_58
z_face_59
z_face_60
z_face_61
z_face_62
z_face_63
z_face_64
z_face_65
z_face_66
z_face_67
z_face_68
z_face_69
z_face_70
z_face_71
z_face_72
z_face_73
z_face_74
z_face_75
z_face_76
z_face_77
z_face_78
z_face_79
z_face_80
z_face_81
z_face_82
z_face_83
z_face_84
z_face_85
z_face_86
z_face_87
z_face_88
z_face_89
z_face_90
z_face_91
z_face_92
z_face_93
z_face_94
z_face_95
z_face_96
z_face_97
z_face_98
z_face_99
z_face_100
z_face_101
z_face_102
z_face_103
z_face_104
z_face_105
z_face_106
z_face_107
z_face_108
z_face_109
z_face_110
z_face_111
z_face_112
z_face_113
z_face_114
z_face_115
z_face_116
z_face_117
z_face_118
z_face_119
z_face_120
z_face_121
z_face_122
z_face_123
z_face_124
z_face_125
z_face_126
z_face_127
z_face_128
z_face_129
z_face_130
z_face_131
z_face_132
z_face_133
z_face_134
z_face_135
z_face_136
z_face_137
z_face_138
z_face_139
z_face_140
z_face_141
z_face_142
z_face_143
z_face_144
z_face_145
z_face_146
z_face_147
z_face_148
z_face_149
z_face_150
z_face_151
z_face_152
z_face_153
z_face_154
z_face_155
z_face_156
z_face_157
z_face_158
z_face_159
z_face_160
z_face_161
z_face_162
z_face_163
z_face_164
z_face_165
z_face_166
z_face_167
z_face_168
z_face_169
z_face_170
z_face_171
z_face_172
z_face_173
z_face_174
z_face_175
z_face_176
z_face_177
z_face_178
z_face_179
z_face_180
z_face_181
z_face_182
z_face_183
z_face_184
z_face_185
z_face_186
z_face_187
z_face_188
z_face_189
z_face_190
z_face_191
z_face_192
z_face_193
z_face_194
z_face_195
z_face_196
z_face_197
z_face_198
z_face_199
z_face_200
z_face_201
z_face_202
z_face_203
z_face_204
z_face_205
z_face_206
z_face_207
z_face_208
z_face_209
z_face_210
z_face_211
z_face_212
z_face_213
z_face_214
z_face_215
z_face_216
z_face_217
z_face_218
z_face_219
z_face_220
z_face_221
z_face_222
z_face_223
z_face_224
z_face_225
z_face_226
z_face_227
z_face_228
z_face_229
z_face_230
z_face_231
z_face_232
z_face_233
z_face_234
z_face_235
z_face_236
z_face_237
z_face_238
z_face_239
z_face_240
z_face_241
z_face_242
z_face_243
z_face_244
z_face_245
z_face_246
z_face_247
z_face_248
z_face_249
z_face_250
z_face_251
z_face_252
z_face_253
z_face_254
z_face_255
z_face_256
z_face_257
z_face_258
z_face_259
z_face_260
z_face_261
z_face_262
z_face_263
z_face_264
z_face_265
z_face_266
z_face_267
z_face_268
z_face_269
z_face_270
z_face_271
z_face_272
z_face_273
z_face_274
z_face_275
z_face_276
z_face_277
z_face_278
z_face_279
z_face_280
z_face_281
z_face_282
z_face_283
z_face_284
z_face_285
z_face_286
z_face_287
z_face_288
z_face_289
z_face_290
z_face_291
z_face_292
z_face_293
z_face_294
z_face_295
z_face_296
z_face_297
z_face_298
z_face_299
z_face_300
z_face_301
z_face_302
z_face_303
z_face_304
z_face_305
z_face_306
z_face_307
z_face_308
z_face_309
z_face_310
z_face_311
z_face_312
z_face_313
z_face_314
z_face_315
z_face_316
z_face_317
z_face_318
z_face_319
z_face_320
z_face_321
z_face_322
z_face_323
z_face_324
z_face_325
z_face_326
z_face_327
z_face_328
z_face_329
z_face_330
z_face_331
z_face_332
z_face_333
z_face_334
z_face_335
z_face_336
z_face_337
z_face_338
z_face_339
z_face_340
z_face_341
z_face_342
z_face_343
z_face_344
z_face_345
z_face_346
z_face_347
z_face_348
z_face_349
z_face_350
z_face_351
z_face_352
z_face_353
z_face_354
z_face_355
z_face_356
z_face_357
z_face_358
z_face_359
z_face_360
z_face_361
z_face_362
z_face_363
z_face_364
z_face_365
z_face_366
z_face_367
z_face_368
z_face_369
z_face_370
z_face_371
z_face_372
z_face_373
z_face_374
z_face_375
z_face_376
z_face_377
z_face_378
z_face_379
z_face_380
z_face_381
z_face_382
z_face_383
z_face_384
z_face_385
z_face_386
z_face_387
z_face_388
z_face_389
z_face_390
z_face_391
z_face_392
z_face_393
z_face_394
z_face_395
z_face_396
z_face_397
z_face_398
z_face_399
z_face_400
z_face_401
z_face_402
z_face_403
z_face_404
z_face_405
z_face_406
z_face_407
z_face_408
z_face_409
z_face_410
z_face_411
z_face_412
z_face_413
z_face_414
z_face_415
z_face_416
z_face_417
z_face_418
z_face_419
z_face_420
z_face_421
z_face_422
z_face_423
z_face_424
z_face_425
z_face_426
z_face_427
z_face_428
z_face_429
z_face_430
z_face_431
z_face_432
z_face_433
z_face_434
z_face_435
z_face_436
z_face_437
z_face_438
z_face_439
z_face_440
z_face_441
z_face_442
z_face_443
z_face_444
z_face_445
z_face_446
z_face_447
z_face_448
z_face_449
z_face_450
z_face_451
z_face_452
z_face_453
z_face_454
z_face_455
z_face_456
z_face_457
z_face_458
z_face_459
z_face_460
z_face_461
z_face_462
z_face_463
z_face_464
z_face_465
z_face_466
z_face_467
z_left_hand_0
z_left_hand_1
z_left_hand_2
z_left_hand_3
z_left_hand_4
z_left_hand_5
z_left_hand_6
z_left_hand_7
z_left_hand_8
z_left_hand_9
z_left_hand_10
z_left_hand_11
z_left_hand_12
z_left_hand_13
z_left_hand_14
z_left_hand_15
z_left_hand_16
z_left_hand_17
z_left_hand_18
z_left_hand_19
z_left_hand_20
z_pose_0
z_pose_1
z_pose_2
z_pose_3
z_pose_4
z_pose_5
z_pose_6
z_pose_7
z_pose_8
z_pose_9
z_pose_10
z_pose_11
z_pose_12
z_pose_13
z_pose_14
z_pose_15
z_pose_16
z_pose_17
z_pose_18
z_pose_19
z_pose_20
z_pose_21
z_pose_22
z_pose_23
z_pose_24
z_pose_25
z_pose_26
z_pose_27
z_pose_28
z_pose_29
z_pose_30
z_pose_31
z_pose_32
z_right_hand_0
z_right_hand_1
z_right_hand_2
z_right_hand_3
z_right_hand_4
z_right_hand_5
z_right_hand_6
z_right_hand_7
z_right_hand_8
z_right_hand_9
z_right_hand_10
z_right_hand_11
z_right_hand_12
z_right_hand_13
z_right_hand_14
z_right_hand_15
z_right_hand_16
z_right_hand_17
z_right_hand_18
z_right_hand_19
z_right_hand_20

We see that the numbers from the column names correspond to the input values in the following images of mediapipe landmarks

<br>

<img src="https://camo.githubusercontent.com/7fbec98ddbc1dc4186852d1c29487efd7b1eb820c8b6ef34e113fcde40746be2/68747470733a2f2f6d65646961706970652e6465762f696d616765732f6d6f62696c652f706f73655f747261636b696e675f66756c6c5f626f64795f6c616e646d61726b732e706e67" width="500">
<br>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHiCz-z3dQ93Zh4p4zq-0dk4A535Dqp5OTHpnqoklaQQ&s" width="500">
<br>
<img src="https://raw.githubusercontent.com/google/mediapipe/a908d668c730da128dfa8d9f6bd25d519d006692/mediapipe/modules/face_geometry/data/canonical_face_model_uv_visualization.png" width="500">

It might make sense to use only data from hands and arms, as body is mostly not seen in dataset (NaNs) and face data is too large and doesn't make much sense for our desired application result

In [15]:
# Using isna() to select all rows with NaN under an entire DataFrame:
df_nan = first_table[first_table.isna().any(axis=1)]
df_nan.head()

,frame,x_face_0,x_face_1,x_face_2,x_face_3,x_face_4,x_face_5,x_face_6,x_face_7,x_face_8,...,z_right_hand_11,z_right_hand_12,z_right_hand_13,z_right_hand_14,z_right_hand_15,z_right_hand_16,z_right_hand_17,z_right_hand_18,z_right_hand_19,z_right_hand_20
sequence_id,,,,,,,,,,,,,,,,,,,,,
1784552841,0,0.492320,0.482797,0.485312,0.471907,0.481505,0.480572,0.478806,0.412168,0.475747,...,-0.096554,-0.104598,-0.074198,-0.107076,-0.111353,-0.108775,-0.090110,-0.112195,-0.111315,-0.107600
1784552841,1,0.492477,0.481592,0.483950,0.470245,0.480239,0.479128,0.476890,0.411729,0.473802,...,-0.052660,-0.054204,-0.052768,-0.063956,-0.054388,-0.046519,-0.065723,-0.066215,-0.052121,-0.041132
1784552841,2,0.487783,0.477862,0.480728,0.466654,0.476475,0.475539,0.474092,0.411478,0.471471,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1784552841,3,0.486822,0.476097,0.479721,0.463738,0.474360,0.473089,0.470957,0.402131,0.467684,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1784552841,4,0.489659,0.476537,0.479497,0.465263,0.475073,0.474147,0.472896,0.403360,0.470319,...,-0.082660,-0.086587,-0.062344,-0.071868,-0.059002,-0.048205,-0.066833,-0.069023,-0.053550,-0.040014

In [17]:
# remove all pose columns except for the arm and wrist landmarks
to_remove = []
for column in first_table.columns.tolist():
    if 'pose' in column:
        if '11' in column:
            continue
        elif '12' in column:
            continue
        elif '13' in column:
            continue
        elif '14' in column:
            continue
        elif '15' in column:
            continue
        elif '16' in column:
            continue
        else:
            to_remove.append(column)

first_table = first_table.drop(to_remove, axis=1)
first_table.head()

,frame,x_face_0,x_face_1,x_face_2,x_face_3,x_face_4,x_face_5,x_face_6,x_face_7,x_face_8,...,z_right_hand_11,z_right_hand_12,z_right_hand_13,z_right_hand_14,z_right_hand_15,z_right_hand_16,z_right_hand_17,z_right_hand_18,z_right_hand_19,z_right_hand_20
sequence_id,,,,,,,,,,,,,,,,,,,,,
1784552841,0,0.492320,0.482797,0.485312,0.471907,0.481505,0.480572,0.478806,0.412168,0.475747,...,-0.096554,-0.104598,-0.074198,-0.107076,-0.111353,-0.108775,-0.090110,-0.112195,-0.111315,-0.107600
1784552841,1,0.492477,0.481592,0.483950,0.470245,0.480239,0.479128,0.476890,0.411729,0.473802,...,-0.052660,-0.054204,-0.052768,-0.063956,-0.054388,-0.046519,-0.065723,-0.066215,-0.052121,-0.041132
1784552841,2,0.487783,0.477862,0.480728,0.466654,0.476475,0.475539,0.474092,0.411478,0.471471,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1784552841,3,0.486822,0.476097,0.479721,0.463738,0.474360,0.473089,0.470957,0.402131,0.467684,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1784552841,4,0.489659,0.476537,0.479497,0.465263,0.475073,0.474147,0.472896,0.403360,0.470319,...,-0.082660,-0.086587,-0.062344,-0.071868,-0.059002,-0.048205,-0.066833,-0.069023,-0.053550,-0.040014

In [19]:
df_nan = first_table[first_table.isna().any(axis=1)]
df_nan.head()

,frame,x_face_0,x_face_1,x_face_2,x_face_3,x_face_4,x_face_5,x_face_6,x_face_7,x_face_8,...,z_right_hand_11,z_right_hand_12,z_right_hand_13,z_right_hand_14,z_right_hand_15,z_right_hand_16,z_right_hand_17,z_right_hand_18,z_right_hand_19,z_right_hand_20
sequence_id,,,,,,,,,,,,,,,,,,,,,
1784552841,0,0.492320,0.482797,0.485312,0.471907,0.481505,0.480572,0.478806,0.412168,0.475747,...,-0.096554,-0.104598,-0.074198,-0.107076,-0.111353,-0.108775,-0.090110,-0.112195,-0.111315,-0.107600
1784552841,1,0.492477,0.481592,0.483950,0.470245,0.480239,0.479128,0.476890,0.411729,0.473802,...,-0.052660,-0.054204,-0.052768,-0.063956,-0.054388,-0.046519,-0.065723,-0.066215,-0.052121,-0.041132
1784552841,2,0.487783,0.477862,0.480728,0.466654,0.476475,0.475539,0.474092,0.411478,0.471471,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1784552841,3,0.486822,0.476097,0.479721,0.463738,0.474360,0.473089,0.470957,0.402131,0.467684,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1784552841,4,0.489659,0.476537,0.479497,0.465263,0.475073,0.474147,0.472896,0.403360,0.470319,...,-0.082660,-0.086587,-0.062344,-0.071868,-0.059002,-0.048205,-0.066833,-0.069023,-0.053550,-0.040014

In [20]:
# remove all face data columns
to_remove = []
for column in first_table.columns.tolist():
    if 'face' in column:
        to_remove.append(column)

first_table = first_table.drop(to_remove, axis=1)

df_nan = first_table[first_table.isna().any(axis=1)]
df_nan.head()

,frame,x_left_hand_0,x_left_hand_1,x_left_hand_2,x_left_hand_3,x_left_hand_4,x_left_hand_5,x_left_hand_6,x_left_hand_7,x_left_hand_8,...,z_right_hand_11,z_right_hand_12,z_right_hand_13,z_right_hand_14,z_right_hand_15,z_right_hand_16,z_right_hand_17,z_right_hand_18,z_right_hand_19,z_right_hand_20
sequence_id,,,,,,,,,,,,,,,,,,,,,
1784552841,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.096554,-0.104598,-0.074198,-0.107076,-0.111353,-0.108775,-0.090110,-0.112195,-0.111315,-0.107600
1784552841,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.052660,-0.054204,-0.052768,-0.063956,-0.054388,-0.046519,-0.065723,-0.066215,-0.052121,-0.041132
1784552841,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1784552841,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1784552841,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.082660,-0.086587,-0.062344,-0.071868,-0.059002,-0.048205,-0.066833,-0.069023,-0.053550,-0.040014

In [ ]:
df_nan.index.unique()

In [22]:
df_test = df_nan[df_nan.index == 1816603189]
df_test.head()

,frame,x_left_hand_0,x_left_hand_1,x_left_hand_2,x_left_hand_3,x_left_hand_4,x_left_hand_5,x_left_hand_6,x_left_hand_7,x_left_hand_8,...,z_right_hand_11,z_right_hand_12,z_right_hand_13,z_right_hand_14,z_right_hand_15,z_right_hand_16,z_right_hand_17,z_right_hand_18,z_right_hand_19,z_right_hand_20
sequence_id,,,,,,,,,,,,,,,,,,,,,
1816603189,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.36079,-0.383684,-0.219632,-0.321539,-0.330618,-0.327139,-0.236001,-0.309293,-0.317306,-0.316272
1816603189,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1816603189,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1816603189,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1816603189,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
len(df_test)

204

In [24]:
for column in first_table.columns.tolist():
    print(column)

frame
x_left_hand_0
x_left_hand_1
x_left_hand_2
x_left_hand_3
x_left_hand_4
x_left_hand_5
x_left_hand_6
x_left_hand_7
x_left_hand_8
x_left_hand_9
x_left_hand_10
x_left_hand_11
x_left_hand_12
x_left_hand_13
x_left_hand_14
x_left_hand_15
x_left_hand_16
x_left_hand_17
x_left_hand_18
x_left_hand_19
x_left_hand_20
x_pose_11
x_pose_12
x_pose_13
x_pose_14
x_pose_15
x_pose_16
x_right_hand_0
x_right_hand_1
x_right_hand_2
x_right_hand_3
x_right_hand_4
x_right_hand_5
x_right_hand_6
x_right_hand_7
x_right_hand_8
x_right_hand_9
x_right_hand_10
x_right_hand_11
x_right_hand_12
x_right_hand_13
x_right_hand_14
x_right_hand_15
x_right_hand_16
x_right_hand_17
x_right_hand_18
x_right_hand_19
x_right_hand_20
y_left_hand_0
y_left_hand_1
y_left_hand_2
y_left_hand_3
y_left_hand_4
y_left_hand_5
y_left_hand_6
y_left_hand_7
y_left_hand_8
y_left_hand_9
y_left_hand_10
y_left_hand_11
y_left_hand_12
y_left_hand_13
y_left_hand_14
y_left_hand_15
y_left_hand_16
y_left_hand_17
y_left_hand_18
y_left_hand_19
y_left_hand_20
y_pose_11
y_pose_12
y_pose_13
y_pose_14
y_pose_15
y_pose_16
y_right_hand_0
y_right_hand_1
y_right_hand_2
y_right_hand_3
y_right_hand_4
y_right_hand_5
y_right_hand_6
y_right_hand_7
y_right_hand_8
y_right_hand_9
y_right_hand_10
y_right_hand_11
y_right_hand_12
y_right_hand_13
y_right_hand_14
y_right_hand_15
y_right_hand_16
y_right_hand_17
y_right_hand_18
y_right_hand_19
y_right_hand_20
z_left_hand_0
z_left_hand_1
z_left_hand_2
z_left_hand_3
z_left_hand_4
z_left_hand_5
z_left_hand_6
z_left_hand_7
z_left_hand_8
z_left_hand_9
z_left_hand_10
z_left_hand_11
z_left_hand_12
z_left_hand_13
z_left_hand_14
z_left_hand_15
z_left_hand_16
z_left_hand_17
z_left_hand_18
z_left_hand_19
z_left_hand_20
z_pose_11
z_pose_12
z_pose_13
z_pose_14
z_pose_15
z_pose_16
z_right_hand_0
z_right_hand_1
z_right_hand_2
z_right_hand_3
z_right_hand_4
z_right_hand_5
z_right_hand_6
z_right_hand_7
z_right_hand_8
z_right_hand_9
z_right_hand_10
z_right_hand_11
z_right_hand_12
z_right_hand_13
z_right_hand_14
z_right_hand_15
z_right_hand_16
z_right_hand_17
z_right_hand_18
z_right_hand_19
z_right_hand_20

We have to much nan values even when leaving out pose. Consequently, we need to find a good interpolation scheme.

In [ ]:
files = os.listdir('./dataset complete/train_landmarks')
len(files)

# Preprocessing TODOs
- for each parquet file select only relevant columns (remove face date and pose date except for arms)
- for each file remove NaNs (replace with -1 or interpolate if previous and following values are known)
- add participant number and label phrase to parquet dfs
- transform label phrase to array of numbers

Next build a Transformer.

# Preprocessing
## Train_Landmarks
Removing unnecessary columns (including all pose data except for the arms and all face data columns)

In [47]:
def remove_unwanted_columns(df):
    # remove all pose columns except for the arm and wrist landmarks
    to_remove_pose = []
    for column in df.columns.tolist():
        if 'pose' in column:
            if '11' in column:
                continue
            elif '12' in column:
                continue
            elif '13' in column:
                continue
            elif '14' in column:
                continue
            elif '15' in column:
                continue
            elif '16' in column:
                continue
            else:
                to_remove_pose.append(column)

    df = df.drop(to_remove_pose, axis=1)


    to_remove_face = []
    for column in df.columns.tolist():
        if 'face' in column:
            to_remove_face.append(column)

    df = df.drop(to_remove_face, axis=1)

    return df

## Edit train_csv
change Strings to number arrays of the phrase/sentence which was fingerspelled

In [34]:
def exchange_string_with_numbers_array(df, characters):
    for i in range(0, len(df)):
        num_array = [characters.get(char, char) for char in df.iloc[i]['phrase']]
        df.at[i, 'phrase'] = num_array
    columns = ['sequence_id', 'participant_id', 'phrase']
    df_train_selected = df[columns]
    return df_train_selected

## Merge datasets
merge hand and arm data with participant id and phrase

In [49]:
def merge_datasets(df, df_phrases):
    df_merged = pd.merge(df, df_phrases, on='sequence_id', how = 'left')
    return df_merged

## Interpolation of nan values
interpolate for nan gaps shorter than 30 following directly, else replace nan values with impossible number value (= out of frame)
This happens for each phrase dataset so we don't interpolate over multiple sentences

In [73]:
#Interpolation

INTERPOLATION_NAN_GAP = 15 # should correspond to 30 seconds, we want to interpolate the values when nans following for multiple rows are less than this value
FILL_NAN_VALUE = -1 # this is the value we want to set the remaining nan values to, which means fo over 15 following rows with nan values
SKIP_VALUE = 10000000 # this is just a value with which we want to signal, that we don't wanmt to interpolate over these rows
pd.options.mode.chained_assignment = None # disables warning messages, which doesn't influence our results
file_counter = 100000 # for each phrase we want to save the data within a new pkl file, this value corresponds to the new file name, we wanted to see if this works by
                      # comparing numbers in directories

# we initially randomised the participant numbers, however we later wanted to work with the supplementary data as well, which was done by the same participants, as we
# couldn't reproduce the results, we wrote the corresponding participant ids in arrays to be able to reuse them
# we do a participant wise spilt for train and test data
test_participant_ids = [1, 38, 202, 71, 74, 102, 109, 125, 225, 161, 242, 59, 36, 188, 154, 80, 113, 88, 68]
train_participant_ids = [73, 95, 147, 18, 115, 216, 168, 56, 21, 159, 141, 143, 233, 181, 236, 9, 196, 53, 254, 251, 157, 20, 203, 112, 15, 72, 27, 178, 6, 153, 92, 169, 10, 145, 24, 192, 230, 186, 2, 135, 246, 43, 93, 33, 223, 81, 160, 231, 219, 171, 136, 25, 40, 176, 158, 121, 63, 105, 4, 128, 89, 13, 70, 138, 187, 241, 217, 107, 227, 122, 151, 117, 239, 0, 76]


def interpolate_dataset(df):
    global file_counter
    phrases = df.sequence_id.unique()

    for i in phrases:
        phrase_table = df[df['sequence_id'] == i]  #get dataset of only one phrase
        nan_count_left_hand = phrase_table['x_left_hand_0'].isna().sum()
        nan_count_right_hand = phrase_table['x_right_hand_0'].isna().sum()
        length_table = len(phrase_table)
        if nan_count_left_hand > 0.75*length_table and nan_count_right_hand > 0.75*length_table:
            # if the dataset contains mainly nan values for both hands we don't want to include this dataset
            continue

        for column in phrase_table.columns.tolist():
            if(column == 'sequence_id') or (column == 'frame') or (column == 'participant_id') or (column == 'phrase'):
                # don't interpolate over the mentioned columns as it is not necessary, these values should remain the same for each row and never are nan
                continue

            # nan_count is a column which is 0 when row doesn't contains nan values and starts counting for rows with following nans,
            # when naxt value is not nan start again at 0
            nan_count = phrase_table[column].isnull().astype(int).groupby(phrase_table[column].notnull().cumsum()).cumsum()
            tmp = 0
            for x in range(phrase_table.index[0],phrase_table.index[0] + len(nan_count)-1):
                #compare current nan_value and nan_value of next row
                curr = nan_count[x]
                next = nan_count[x+1]
                if next > curr:
                    # counts how many nan values are in the current nan gap
                    tmp = next
                    if (x == phrase_table.index[0] + len(nan_count)-2):
                        #if we are at the end of the dataset and the last value is nan, we don't want to interpolate over the nan values at the end
                        for j in range(((x+2)-tmp), x+2):
                            nan_count[j] = SKIP_VALUE
                elif next == curr:
                    # currently there are no nans so do nothing
                    tmp = 0
                    continue
                elif (next < curr):
                    #this would mean we had nan values before but the next value is not nan
                    # if nan gap is bigger than our max nan gap, the interpolation nan gap, then go back over all nans and add our skip value, we don't want
                    # to interpolate over this gap
                    if tmp > INTERPOLATION_NAN_GAP:
                        for j in range(x-tmp, x+1):
                            nan_count[j] = SKIP_VALUE
                    tmp = 0
            # should already be sorted, just to be sure
            nan_count = nan_count.sort_index()
            # now we want to inerpolate over column every time the nan gap is shorter than the interpolation nan gap
            # we interpolate if row has nan values and no skip value
            phrase_table[column] = phrase_table[column].interpolate() \
                .where(nan_count < SKIP_VALUE, np.nan)

        # we fill remaining nan values with replace value -1
        phrase_table = phrase_table.fillna(FILL_NAN_VALUE)

        # we want to create a new file name to not overwrite the old one
        file_counter += 1

        #Now we save the preprocessed dataset for only this one phras either in the dircetory for the train data or test data based on the participant id
        if phrase_table.participant_id.unique()[0] in test_participant_ids:
            file_path = './dataset complete/preprocessed_files_data_generator/test_ones/' + str(file_counter) + '.pkl'
            phrase_table.to_pickle(file_path)
        else:
            file_path = './dataset complete/preprocessed_files_data_generator/train_ones/' + str(file_counter) + '.pkl'
            phrase_table.to_pickle(file_path)

# Create preprocessed Files

In [51]:
import pandas as pd
import pyarrow.parquet as pq
import os
import json
import numpy as np
import pickle

Do preprocessing for all the data within the train_landmarks directory

In [38]:
# we preprocess the file which contains the phrase/sentence, to get an array of numbers corresponding to the characters
df_train = pd.read_csv('./dataset complete/train.csv')

with open ("./dataset complete/character_to_prediction_index.json", "r") as f:
    characters = json.load(f)

df_train = exchange_string_with_numbers_array(df_train, characters)
df_train.head()

,sequence_id,participant_id,phrase
0,1816796431,217,"[18, 0, 34, 49, 36, 36, 42, 39, 46, 52, 50, 36]"
1,1816825349,107,"[50, 34, 32, 43, 36, 50, 14, 42, 52, 39, 32, 5..."
2,1816909464,1,"[16, 18, 23, 18, 0, 54, 40, 43, 43, 40, 32, 44..."
3,1816967051,63,"[24, 23, 23, 0, 37, 49, 32, 45, 42, 43, 40, 45..."
4,1817123330,89,"[21, 24, 17, 15, 0, 45, 46, 49, 51, 39, 36, 32..."

In [ ]:
file_names = os.listdir('./dataset complete/train_landmarks/')
for i in range(0, len(file_names)):
    file_names[i] = file_names[i].replace('.parquet', '')

In [ ]:
for file in file_names:
    print(file)

    # read in first parquet file
    train_landmarks = pq.read_table('./dataset complete/train_landmarks/' + file + '.parquet')
    train_landmarks = train_landmarks.to_pandas()

    # leave only columns with hand and arm data
    train_landmarks = remove_unwanted_columns(train_landmarks)
    # merge the hand and arm data with the corresponding participant id and phrase
    df = merge_datasets(train_landmarks, df_train)
    # for short nan gaps interpolate the values, else fill Nans with a placeholder number
    interpolate_dataset(df)

Do preprocessing for all the data within the supplementary_landmarks directory

In [39]:
# do the same for the supplemenatary data, which is juzst an extra dataset with more data
supp_train = pd.read_csv('./dataset complete/supplemental_metadata.csv')

with open ("./dataset complete/character_to_prediction_index.json", "r") as f:
    characters = json.load(f)

supp_train = exchange_string_with_numbers_array(supp_train, characters)
supp_train.head()

,sequence_id,participant_id,phrase
0,1535467051,251,"[34, 46, 44, 40, 45, 38, 0, 52, 47, 0, 54, 40,..."
1,1535499058,239,"[54, 36, 0, 33, 36, 51, 51, 36, 49, 0, 40, 45,..."
2,1535530550,245,"[40, 45, 51, 36, 49, 36, 50, 51, 40, 45, 38, 0..."
3,1535545499,38,"[53, 40, 34, 51, 40, 44, 50, 0, 35, 36, 50, 36..."
4,1535585216,254,"[42, 45, 36, 36, 0, 33, 46, 45, 36, 0, 40, 50,..."

In [ ]:
file_names = os.listdir('./dataset complete/supplemental_landmarks/')
for i in range(0, len(file_names)):
    file_names[i] = file_names[i].replace('.parquet', '')

file_names

In [ ]:
for file in file_names:
    print(file)

    # read in first parquet file
    train_landmarks = pq.read_table('./dataset complete/supplemental_landmarks/' + file + '.parquet')
    train_landmarks = train_landmarks.to_pandas()

    # leave only columns with hand and arm data
    train_landmarks = remove_unwanted_columns(train_landmarks)
    # merge the hand and arm data with the corresponding participant id and phrase
    df = merge_datasets(train_landmarks, supp_train)
    # for short nan gaps interpolate the values, else fill Nans with a placeholder number
    df = interpolate_dataset(df)

## Create validation dataset based on participant wise split

In [1]:
# we want to also get validation data based on a participant wise split
# so we took participants from the training dataset and moved their data to the validation directory

import os
import shutil
import pickle
import pandas as pd

# these are the participant ids for the validation data
val_participant_ids = [89, 147, 236, 231]

source = './dataset complete/preprocessed_files_data_generator/train_ones'
destination = './dataset complete/preprocessed_files_data_generator/val_ones'

for filename in os.listdir(source):
    filepath = os.path.join(source, filename)
    with open(filepath, "rb") as file:
        df = pickle.load(file)
    if df.iloc[0]['participant_id'] in val_participant_ids:
        destinationpath = os.path.join(destination, filename)
        shutil.move(filepath, destinationpath)
    else:
        continue

# Version 2: preprocessing with mirroring

In [32]:
import pandas as pd
import pyarrow.parquet as pq
import os
import json
import numpy as np
import pickle

### we calculate the mean value for each column over all datasets

We do this so, if the dataset of one phrase starts with nan values, we have a default value to start with

In [35]:
df_train = pd.read_csv('./dataset complete/train.csv')

with open ("./dataset complete/character_to_prediction_index.json", "r") as f:
    characters = json.load(f)

df_train = exchange_string_with_numbers_array(df_train, characters)
df_train.head()

,sequence_id,participant_id,phrase
0,1816796431,217,"[18, 0, 34, 49, 36, 36, 42, 39, 46, 52, 50, 36]"
1,1816825349,107,"[50, 34, 32, 43, 36, 50, 14, 42, 52, 39, 32, 5..."
2,1816909464,1,"[16, 18, 23, 18, 0, 54, 40, 43, 43, 40, 32, 44..."
3,1816967051,63,"[24, 23, 23, 0, 37, 49, 32, 45, 42, 43, 40, 45..."
4,1817123330,89,"[21, 24, 17, 15, 0, 45, 46, 49, 51, 39, 36, 32..."

In [ ]:
import os
file_names = os.listdir('./dataset complete/train_landmarks/')

In [ ]:
import pyarrow.parquet as pq
df_concat = pd.DataFrame()

for file in file_names:
    print(file)
    train_landmarks = pq.read_table('./dataset complete/train_landmarks/' + file)
    train_landmarks = train_landmarks.to_pandas()
    train_landmarks = remove_unwanted_columns(train_landmarks)
    # merge the hand and arm data with the corresponding participant id and phrase
    df = merge_datasets(train_landmarks, df_train)
    df_concat = pd.concat([df_concat, df], axis = 0)

In [8]:
mean_columns = dict()

for column in df_concat.columns.tolist():
    if(column == 'sequence_id') or (column == 'frame') or (column == 'participant_id') or (column == 'phrase'):
        continue
    mean_columns[column] = float(df_concat[column].mean(skipna=True))

NameError: name 'df_concat' is not defined

In [23]:
with open('./dataset complete/means_columns.json', 'w') as fp:
    json.dump(mean_columns, fp)

## Interpolation Version 2

### Train test split based on participant ids

In [40]:
# load the mean_values for each column
with open ("./dataset complete/means_columns.json", "r") as f:
    mean_values = json.load(f)
mean_values

{'x_left_hand_0': 0.6971073150634766,
 'x_left_hand_1': 0.6097241640090942,
 'x_left_hand_2': 0.5367973446846008,
 'x_left_hand_3': 0.4998524487018585,
 'x_left_hand_4': 0.48945990204811096,
 'x_left_hand_5': 0.5789158344268799,
 'x_left_hand_6': 0.5327205061912537,
 'x_left_hand_7': 0.5006852149963379,
 'x_left_hand_8': 0.48087459802627563,
 'x_left_hand_9': 0.6335292458534241,
 'x_left_hand_10': 0.5850366353988647,
 'x_left_hand_11': 0.5553675889968872,
 'x_left_hand_12': 0.5426617860794067,
 'x_left_hand_13': 0.6885859966278076,
 'x_left_hand_14': 0.6425691843032837,
 'x_left_hand_15': 0.6139603853225708,
 'x_left_hand_16': 0.6030905246734619,
 'x_left_hand_17': 0.740994393825531,
 'x_left_hand_18': 0.7045613527297974,
 'x_left_hand_19': 0.6803600192070007,
 'x_left_hand_20': 0.6702653765678406,
 'x_pose_11': 0.8996241688728333,
 'x_pose_12': 0.2523534595966339,
 'x_pose_13': 1.096893072128296,
 'x_pose_14': 0.027202386409044266,
 'x_pose_15': 1.0204228162765503,
 'x_pose_16': 0.17764146625995636,
 'x_right_hand_0': 0.26521873474121094,
 'x_right_hand_1': 0.3522937297821045,
 'x_right_hand_2': 0.42463913559913635,
 'x_right_hand_3': 0.4574905335903168,
 'x_right_hand_4': 0.46326154470443726,
 'x_right_hand_5': 0.3801180124282837,
 'x_right_hand_6': 0.4236556887626648,
 'x_right_hand_7': 0.45302554965019226,
 'x_right_hand_8': 0.4714657664299011,
 'x_right_hand_9': 0.32097893953323364,
 'x_right_hand_10': 0.36367112398147583,
 'x_right_hand_11': 0.390087753534317,
 'x_right_hand_12': 0.40292155742645264,
 'x_right_hand_13': 0.2633066773414612,
 'x_right_hand_14': 0.30432572960853577,
 'x_right_hand_15': 0.33153608441352844,
 'x_right_hand_16': 0.3435448110103607,
 'x_right_hand_17': 0.20804078876972198,
 'x_right_hand_18': 0.2414758950471878,
 'x_right_hand_19': 0.2653694450855255,
 'x_right_hand_20': 0.2768831253051758,
 'y_left_hand_0': 0.7669554352760315,
 'y_left_hand_1': 0.748100757598877,
 'y_left_hand_2': 0.708469033241272,
 'y_left_hand_3': 0.6768922209739685,
 'y_left_hand_4': 0.653512716293335,
 'y_left_hand_5': 0.6322559118270874,
 'y_left_hand_6': 0.5924400091171265,
 'y_left_hand_7': 0.5874979496002197,
 'y_left_hand_8': 0.587242603302002,
 'y_left_hand_9': 0.6295270323753357,
 'y_left_hand_10': 0.5910403728485107,
 'y_left_hand_11': 0.6003494262695312,
 'y_left_hand_12': 0.6076551079750061,
 'y_left_hand_13': 0.6402541399002075,
 'y_left_hand_14': 0.6116833090782166,
 'y_left_hand_15': 0.6322254538536072,
 'y_left_hand_16': 0.6466699838638306,
 'y_left_hand_17': 0.6608253717422485,
 'y_left_hand_18': 0.641963541507721,
 'y_left_hand_19': 0.6529974341392517,
 'y_left_hand_20': 0.6612818837165833,
 'y_pose_11': 0.6857060194015503,
 'y_pose_12': 0.679404616355896,
 'y_pose_13': 0.9665724039077759,
 'y_pose_14': 0.946652889251709,
 'y_pose_15': 1.065879225730896,
 'y_pose_16': 0.8765512108802795,
 'y_right_hand_0': 0.7536386847496033,
 'y_right_hand_1': 0.7336316108703613,
 'y_right_hand_2': 0.6928024888038635,
 'y_right_hand_3': 0.6591918468475342,
 'y_right_hand_4': 0.634494960308075,
 'y_right_hand_5': 0.6133245229721069,
 'y_right_hand_6': 0.5690888166427612,
 'y_right_hand_7': 0.5615572929382324,
 'y_right_hand_8': 0.559370756149292,
 'y_right_hand_9': 0.6102020740509033,
 'y_right_hand_10': 0.5675579309463501,
 'y_right_hand_11': 0.575223982334137,
 'y_right_hand_12': 0.5818228125572205,
 'y_right_hand_13': 0.6208122968673706,
 'y_right_hand_14': 0.5909234881401062,
 'y_right_hand_15': 0.6122776865959167,
 'y_right_hand_16': 0.6278660297393799,
 'y_right_hand_17': 0.6418229341506958,
 'y_right_hand_18': 0.620887279510498,
 'y_right_hand_19': 0.6314097046852112,
 'y_right_hand_20': 0.6394581198692322,
 'z_left_hand_0': -8.788978789198154e-08,
 'z_left_hand_1': -0.029379289597272873,
 'z_left_hand_2': -0.05383854731917381,
 'z_left_hand_3': -0.08053038269281387,
 'z_left_hand_4': -0.10583872348070145,
 'z_left_hand_5': -0.032731663435697556,
 'z_left_hand_6': -0.08113986253738403,
 'z_left_hand_7': -0.11370702087879181,
 'z_left_hand_8': -0.13290029764175415,
 'z_left_hand_9': -0.046919338405132294,
 'z_left_hand_10': -0.10014895349740982,
 'z_left_hand_11': -0.1242728978395462,
 'z_left_hand_12': -0.13234472274780273,
 'z_left_hand_13': -0.06692162156105042,
 'z_left_hand_14': -0.12155000865459442,
 'z_left_hand_15': -0.1287003457546234,
 'z_left_hand_16': -0.12248968333005905,
 'z_left_hand_17': -0.08926419168710709,
 'z_left_hand_18': -0.131391242146492,
 'z_left_hand_19': -0.13454481959342957,
 'z_left_hand_20': -0.12871679663658142,
 'z_pose_11': -0.48496171832084656,
 'z_pose_12': -0.44132715463638306,
 'z_pose_13': -0.6716639399528503,
 'z_pose_14': -1.0986995697021484,
 'z_pose_15': -1.313507318496704,
 'z_pose_16': -2.510937213897705,
 'z_right_hand_0': 4.856474902226182e-07,
 'z_right_hand_1': -0.036986447870731354,
 'z_right_hand_2': -0.06269863247871399,
 'z_right_hand_3': -0.08955788612365723,
 'z_right_hand_4': -0.11489787697792053,
 'z_right_hand_5': -0.04039573296904564,
 'z_right_hand_6': -0.08943229168653488,
 'z_right_hand_7': -0.12157880514860153,
 'z_right_hand_8': -0.13895156979560852,
 'z_right_hand_9': -0.0504249632358551,
 'z_right_hand_10': -0.10549886524677277,
 'z_right_hand_11': -0.1316583752632141,
 'z_right_hand_12': -0.1406109780073166,
 'z_right_hand_13': -0.06610207259654999,
 'z_right_hand_14': -0.12488014996051788,
 'z_right_hand_15': -0.13507668673992157,
 'z_right_hand_16': -0.12931545078754425,
 'z_right_hand_17': -0.08450978994369507,
 'z_right_hand_18': -0.12891614437103271,
 'z_right_hand_19': -0.13276582956314087,
 'z_right_hand_20': -0.12668420374393463}

In [ ]:
# this assigns 80% of participant ids for the training data and 20% of participant ids for the test data
import pandas as pd
import random

df_test = pd.read_csv('./dataset complete/train.csv')

p_ids = df_test.participant_id.unique().tolist()
len(p_ids)


TRAIN_SPLIT = 0.8
TEST_SPLIT = 0.2

num_train_samples = int(TRAIN_SPLIT * len(p_ids))

train_participants = random.sample(p_ids, num_train_samples)
test_participants = [x for x in p_ids if x not in train_participants]

# We did this randomly, but we needed the ids at a later time in the project, so we added all participant ids to arrays, so the data is consistent

test_participant_ids = [1, 38, 202, 71, 74, 102, 109, 125, 225, 161, 242, 59, 36, 188, 154, 80, 113, 88, 68]
train_participant_ids = [73, 95, 147, 18, 115, 216, 168, 56, 21, 159, 141, 143, 233, 181, 236, 9, 196, 53, 254, 251, 157, 20, 203, 112, 15, 72, 27, 178, 6, 153, 92, 169, 10, 145, 24, 192, 230, 186, 2, 135, 246, 43, 93, 33, 223, 81, 160, 231, 219, 171, 136, 25, 40, 176, 158, 121, 63, 105, 4, 128, 89, 13, 70, 138, 187, 241, 217, 107, 227, 122, 151, 117, 239, 0, 76]

### Interpolation function version 2

In [41]:
# same as other interpolation
INTERPOLATION_NAN_GAP = 15
FILL_NAN_VALUE = -1
SKIP_VALUE = 10000000
pd.options.mode.chained_assignment = None
file_counter = 0

def interpolate_dataset(df: pd.DataFrame):
    global file_counter
    phrases = df.sequence_id.unique()

    for i in phrases:
        phrase_table = df[df['sequence_id'] == i]

        nan_count_left_hand = phrase_table['x_left_hand_0'].isna().sum()
        nan_count_right_hand = phrase_table['x_right_hand_0'].isna().sum()
        length_table = len(phrase_table)

        if nan_count_left_hand > 0.75*length_table and nan_count_right_hand > 0.75*length_table:
            # leave out datasets for phrases, where data exists of almost only nans
            continue
        if length_table < INTERPOLATION_NAN_GAP:
            # leave out datasets where only a few rows exists, as phrases always exist of multiple values, this means there has to be something wrong with this data
            continue

        # this interpolation is the same as the one we did before
        # interpolation of N long nan gaps (right now N = 15)
        for column in phrase_table.columns.tolist():
            if(column == 'sequence_id') or (column == 'frame') or (column == 'participant_id') or (column == 'phrase'):
                continue
            if np.isnan(phrase_table.iloc[0][column]):
                # if first row is filled with nans exchange those with the calculated mean value of the corresponding column
                phrase_table.at[phrase_table.index[0], column] = mean_values[column]

            nan_count = phrase_table[column].isnull().astype(int).groupby(phrase_table[column].notnull().cumsum()).cumsum()
            #tmp = the number of nan values which is equal to the last next where next is unequal to 0
            tmp = 0
            for x in range(phrase_table.index[0],phrase_table.index[0] + len(nan_count)-1):
                curr = nan_count[x]
                next = nan_count[x+1]
                if next > curr:
                    tmp = next
                    if (x == phrase_table.index[0] + len(nan_count)-2):
                        for j in range(((x+2)-tmp), x+2):
                            nan_count[j] = SKIP_VALUE
                elif next == curr:
                    tmp = 0
                    continue
                elif (next < curr):
                    if tmp > INTERPOLATION_NAN_GAP:
                        for j in range(x-tmp, x+1):
                            nan_count[j] = SKIP_VALUE
                    tmp = 0
            # should be in right order, but to be sure
            nan_count = nan_count.sort_index()
            # we interpolate over nan gaps with less than 15 rows with nans following directly after each other
            #here: interpolate where there are nans and no skip value
            phrase_table[column] = phrase_table[column].interpolate() \
                .where(nan_count < SKIP_VALUE, np.nan)

        right_pose_columns = ['12', '14', '16']
        left_pose_columns = ['11', '13', '15']

        # replace missing hand nans
        # if one hand has values and the other hand has no nan values, mirror the values from the non value hand to the other
        phrase_table['marking_left_replace'] = 0
        phrase_table['marking_right_replace'] = 0
        for i, row in phrase_table.iterrows():
            if np.isnan(row['x_left_hand_0']) and not np.isnan(row['x_right_hand_0']):
                row['marking_left_replace'] = 1
                for column in phrase_table.columns.tolist():
                    if 'left' in column:
                        corresponding_column = column.replace('left', 'right')
                        if 'z' in column:
                            phrase_table.at[i, column] = row[corresponding_column]
                        else:
                            phrase_table.at[i, column] = 1 - row[corresponding_column]
                    if 'pose' in column and column[-2:] in left_pose_columns:
                        corresponding_column = column[:-2] + str(int(column[-2:]) + 1)
                        if 'z' in column:
                            phrase_table.at[i, column] = row[corresponding_column]
                        else:
                            phrase_table.at[i, column] = 1 - row[corresponding_column]
            if np.isnan(row['x_right_hand_0']) and not np.isnan(row['x_left_hand_0']):
                row['marking_right_replace'] = 1
                for column in phrase_table.columns.tolist():
                    if 'right' in column:
                        corresponding_column = column.replace('right', 'left')
                        if 'z' in column:
                            phrase_table.at[i, column] = row[corresponding_column]
                        else:
                            phrase_table.at[i, column] = 1 - row[corresponding_column]
                    if 'pose' in column and column[-2:] in right_pose_columns:
                        corresponding_column = column[:-2] + str(int(column[-2:]) - 1)
                        if 'z' in column:
                            phrase_table.at[i, column] = row[corresponding_column]
                        else:
                            phrase_table.at[i, column] = 1 - row[corresponding_column]


        # we add nan values again, everytime we mirrored the hands at the beginning and the end, for a specific number of rows (here half of the Interpolation nan gap
        # value), so we can interpolate between the values of the specific hand and the mirrored values from the other hand
        row_indices_filled_after = phrase_table[(phrase_table['marking_left_replace'] == 0) & (phrase_table.shift(-1)['marking_left_replace'] == 1)].index.tolist()
        for r_idx in row_indices_filled_after:
            for column in phrase_table.columns.tolist():
                if 'left' in column:
                    end_idx = min(r_idx + INTERPOLATION_NAN_GAP // 2, len(phrase_table) - 1 + phrase_table.index[0])
                    phrase_table.loc[r_idx:end_idx, column] = np.nan
                if 'pose' in column and column[-2:] in left_pose_columns:
                    end_idx = min(r_idx + INTERPOLATION_NAN_GAP // 2, len(phrase_table) - 1 + phrase_table.index[0])
                    phrase_table.loc[r_idx:end_idx, column] = np.nan
        row_indices_filled_after = phrase_table[(phrase_table['marking_right_replace'] == 0) & (phrase_table.shift(-1)['marking_right_replace'] == 1)].index.tolist()
        for r_idx in row_indices_filled_after:
            for column in phrase_table.columns.tolist():
                if 'right' in column:
                    end_idx = min(r_idx + INTERPOLATION_NAN_GAP // 2, len(phrase_table) - 1 + phrase_table.index[0])
                    phrase_table.loc[r_idx:end_idx, column] = np.nan
                if 'pose' in column and column[-2:] in right_pose_columns:
                    end_idx = min(r_idx + INTERPOLATION_NAN_GAP // 2, len(phrase_table) - 1 + phrase_table.index[0])
                    phrase_table.loc[r_idx:end_idx, column] = np.nan
        row_indices_filled_before = phrase_table[(phrase_table['marking_right_replace'] == 0) & (phrase_table.shift(1)['marking_right_replace'] == 1)].index.tolist()
        for r_idx in row_indices_filled_before:
            for column in phrase_table.columns.tolist():
                if 'right' in column:
                    start_idx = max(phrase_table.index[0]+1, r_idx-INTERPOLATION_NAN_GAP//2)
                    phrase_table.loc[start_idx:r_idx, column] = np.nan
                if 'pose' in column and column[-2:] in right_pose_columns:
                    start_idx = max(phrase_table.index[0]+1, r_idx-INTERPOLATION_NAN_GAP//2)
                    phrase_table.loc[start_idx:r_idx, column] = np.nan
        row_indices_filled_before = phrase_table[(phrase_table['marking_left_replace'] == 0) & (phrase_table.shift(1)['marking_left_replace'] == 1)].index.tolist()
        for r_idx in row_indices_filled_before:
            for column in phrase_table.columns.tolist():
                if 'left' in column:
                    start_idx = max(phrase_table.index[0]+1, r_idx-(INTERPOLATION_NAN_GAP//2))
                    phrase_table.loc[start_idx:r_idx, column] = np.nan
                if 'pose' in column and column[-2:] in left_pose_columns:
                    start_idx = max(phrase_table.index[0]+1, r_idx-INTERPOLATION_NAN_GAP//2)
                    phrase_table.loc[start_idx:r_idx, column] = np.nan

        # we don't need the columns anymore, so we drop them
        phrase_table = phrase_table.drop('marking_left_replace', axis=1)
        phrase_table = phrase_table.drop('marking_right_replace', axis=1)


        for column in phrase_table.columns.tolist():
            if(column == 'sequence_id') or (column == 'frame') or (column == 'participant_id') or (column == 'phrase'):
                continue
            if np.isnan(phrase_table.iloc[0][column]):
                # if the value in the first row of dataset is nan than replace again with previously caluclated mean values of corresponding column
                phrase_table.at[phrase_table.index[0], column] = mean_values[column]

        # replace with previous value
        # for rows with nan values following directly after each other, if gap is too big, then fill all values with the last not nan value in corresponding column
        phrase_table['keep'] = 0
        after_nan_indices = phrase_table[(~phrase_table.isna()) & (phrase_table.shift(1).isna())].index.tolist()
        for r_idx in after_nan_indices:
            phrase_table.loc[max(phrase_table.index[1], r_idx-INTERPOLATION_NAN_GAP//2):r_idx, 'keep'] = 1

        phrase_table.loc[phrase_table['keep'] != 1] = phrase_table.loc[phrase_table['keep'] != 1].fillna(method='ffill')

        phrase_table = phrase_table.drop('keep', axis=1)


        # linear interpolation over remaining nan values
        phrase_table = phrase_table.interpolate(method='linear')

        # check if all nans have been removed
        if len(phrase_table[phrase_table.isna().any(axis=1)]) != 0:
            print("Still NANs!")


        # use relative values -> we leave the first value as it is, and then we only calculate the difference between the previous and the next row for each column
        for column in phrase_table.columns.tolist():
            if(column == 'sequence_id') or (column == 'frame') or (column == 'participant_id') or (column == 'phrase'):
                continue
            first_value = phrase_table[column].loc[phrase_table.index[0]]
            phrase_table[column] = phrase_table[column] - phrase_table[column].shift(1)
            phrase_table.at[phrase_table.index[0], column] = first_value


        # we again name the files after the file_counter and save it to directory based on if the participant id is in training ids or test ids
        file_counter += 1

        if phrase_table.participant_id.unique()[0] in test_participant_ids:
            # you can adapt the file directory
            file_path = './dataset complete/preprocessed_files_data_generator/supp_test_files/' + str(file_counter) + '.pkl'
            phrase_table.to_pickle(file_path)
        else:
            # you can adapt the file directory
            file_path = './dataset complete/preprocessed_files_data_generator/supp_train_files/' + str(file_counter) + '.pkl'
            phrase_table.to_pickle(file_path)

### Preprocess files with preprocessing version 2

Preprocess files within train_landmarks with preprocessing Version 2

In [37]:
df_train = pd.read_csv('./dataset complete/train.csv')

with open ("./dataset complete/character_to_prediction_index.json", "r") as f:
    characters = json.load(f)

df_train = exchange_string_with_numbers_array(df_train, characters)
df_train.head()

,sequence_id,participant_id,phrase
0,1816796431,217,"[18, 0, 34, 49, 36, 36, 42, 39, 46, 52, 50, 36]"
1,1816825349,107,"[50, 34, 32, 43, 36, 50, 14, 42, 52, 39, 32, 5..."
2,1816909464,1,"[16, 18, 23, 18, 0, 54, 40, 43, 43, 40, 32, 44..."
3,1816967051,63,"[24, 23, 23, 0, 37, 49, 32, 45, 42, 43, 40, 45..."
4,1817123330,89,"[21, 24, 17, 15, 0, 45, 46, 49, 51, 39, 36, 32..."

In [ ]:
import pandas as pd
import pyarrow.parquet as pq
import os
import json
import numpy as np
import pickle

file_names = os.listdir('./dataset complete/train_landmarks/')
for i in range(0, len(file_names)):
    file_names[i] = file_names[i].replace('.parquet', '')

In [ ]:
from tqdm import tqdm
import warnings

warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)

for file in tqdm(file_names):

    # read in first parquet file
    train_landmarks = pq.read_table('./dataset complete/train_landmarks/' + file + '.parquet')
    train_landmarks = train_landmarks.to_pandas()

    # leave only columns with hand and arm data
    train_landmarks = remove_unwanted_columns(train_landmarks)
    # merge the hand and arm data with the corresponding participant id and phrase
    df = merge_datasets(train_landmarks, df_train)
    # for short nan gaps interpolate the values, else fill Nans with a placeholder number
    interpolate_dataset(df)

Preprocess files within supplemental_landmarks with preprocessing Version 2

In [36]:
# Preprocess supplemenatl data
supp_train = pd.read_csv('./dataset complete/supplemental_metadata.csv')

with open ("./dataset complete/character_to_prediction_index.json", "r") as f:
    characters = json.load(f)

supp_train = exchange_string_with_numbers_array(supp_train, characters)
supp_train.head()

,sequence_id,participant_id,phrase
0,1535467051,251,"[34, 46, 44, 40, 45, 38, 0, 52, 47, 0, 54, 40,..."
1,1535499058,239,"[54, 36, 0, 33, 36, 51, 51, 36, 49, 0, 40, 45,..."
2,1535530550,245,"[40, 45, 51, 36, 49, 36, 50, 51, 40, 45, 38, 0..."
3,1535545499,38,"[53, 40, 34, 51, 40, 44, 50, 0, 35, 36, 50, 36..."
4,1535585216,254,"[42, 45, 36, 36, 0, 33, 46, 45, 36, 0, 40, 50,..."

In [ ]:
# Preprocess supplemenatl data
import pandas as pd
import pyarrow.parquet as pq
import os
import json
import numpy as np
import pickle

file_names = os.listdir('./dataset complete/supplemental_landmarks/')
for i in range(0, len(file_names)):
    file_names[i] = file_names[i].replace('.parquet', '')

In [ ]:
# Preprocess supplemental data
from tqdm import tqdm
import warnings

warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)

for file in tqdm(file_names):

    # read in first parquet file
    supp_landmarks = pq.read_table('./dataset complete/supplemental_landmarks/' + file + '.parquet')
    supp_landmarks = supp_landmarks.to_pandas()

    # leave only columns with hand and arm data
    supp_landmarks = remove_unwanted_columns(supp_landmarks)
    # merge the hand and arm data with the corresponding participant id and phrase
    df = merge_datasets(supp_landmarks, supp_train)
    # for short nan gaps interpolate the values, else fill Nans with a placeholder number
    interpolate_dataset(df)

### In case you want to save files in two directories according to participant id

In [18]:
def split_files(df: pd.DataFrame):
    global file_counter
    file_counter = 0
    phrases = df.sequence_id.unique()
    for i in phrases:

        phrase_table = df[df['sequence_id'] == i]

        file_counter += 1

        if phrase_table.participant_id.unique()[0] in test_participant_ids:
            file_path = './dataset complete/preprocessed_files_data_generator/test_with_ones/' + str(file_counter) + '.pkl'
            phrase_table.to_pickle(file_path)
        else:
            file_path = './dataset complete/preprocessed_files_data_generator/train_with_ones/' + str(file_counter) + '.pkl'
            phrase_table.to_pickle(file_path)

In [ ]:
import pandas as pd
import os
import json
import pickle

file_names = os.listdir('./dataset complete/preprocessed_files/')
for i in range(0, len(file_names)):
    file_names[i] = file_names[i].replace('.parquet', '')

In [ ]:
from tqdm import tqdm
import warnings

warnings.simplefilter(action='ignore', category=pd.errors.PerformanceWarning)

for fileNr in tqdm(file_names):
    # read in first parquet file
    with open('./dataset complete/preprocessed_files/' + fileNr, 'rb') as file:
        df = pickle.load(file)
    split_files(df)